*.onnx
*.zip
venv/Lib/site-packages/absl/flags/__pycache__/_helpers.cpython-313.pyc
venv/
venv310/
db/
enroll/
node_modules/
*.pdf
dp.txt
__pycache__
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
